@model Interesse
@{
    ViewData["Title"] = "Hotsite";
}

<div class="row my-2">
    <div class="col-12 col md-12 col-lg-4">
       <h1 class="text-center">Iniciativa Saúde da Cidade</h1>
        <p>
            Texto sobre vida saudável: Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae legendos at vix ad putent delectus delicata usu. Vidit dissentiet eos cu eum an brute copiosae hendrerit.
        </p>
        <p>
            Texto sobre vida iniciativa: Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae legendos at vix ad putent delectus delicata usu. Vidit dissentiet eos cu eum an brute copiosae hendrerit.
        </p>
    </div>

    <div class="col-12 col-md-12 col-lg-8">
        <img src="/imagens/dna.jpg" alt="" class="img-thumbnail" style="max-width: 540px;">
    </div>

    <div class="row my-2">
        <div class="col-12 col-md-12 col-lg-4 border border-danger rounded py-2 my-2 bg-light">

            <h2>Entre em contato!:</h2>
            <p>Nos mande uma mensagem e fique por dentro de nossos eventos</p>

            <form action="/Home/Cadastrar" method="POST" class="">
            <div class="form-group row">
                <label asp-for="Nome" class="col-sm-2 col-form-label">Nome:</label>
                <div class="col-sm-10">
                    <input asp-for="Nome" class="form-control"/>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="Email" class="col-sm-2 col-form-label">Email:</label>
                <div class="col-sm-10">
                    <input asp-for="Email" class="form-control"/>
                </div>
            </div>

            <div>
                <label asp-for="Mensagem" class="col-sm-2 col-form-label">Mensagem (opcional):</label>
                <textarea asp-for="Mensagem" class="form-control"></textarea>
            </div>

            <div>
                <input type="submit" value="Enviar" class="btn btn-primary"/>
            </div>
        </form>
    </div>

    <div class="col-12 col-md-12 col-lg-8 d-flex align-items-center">
        <div class="row">
            <div class="col-12 col-lg-4 text-center">
                <a href="#">
                    <figure class="figure">
                        <img src="/imagens/agenda.jpg" alt="Agenda de Eventos" class="img-fluid">
                        <button type="button" class="btn btn-primary mt-2" data-bs-toggle="modal" data-bs-target="#modalAgenda">Agenda</button>
                    </figure>
                </a>
            </div>
            <div class="col-12 col-lg-4 text-center">
                <a href="#">
                    <figure class="figure">
                        <img src="/imagens/vida.jpg" alt="Dicas de Vida Saudável" class="img-fluid">
                        <button type="button" class="btn btn-primary mt-2" data-bs-toggle="modal" data-bs-target="#modalDica">Dicas Vida Saudável</button>
                    </figure>
                </a>
            </div>
            <div class="col-12 col-lg-4 text-center">
                <a href="#">
                    <figure class="figure">
                        <img src="/imagens/apoio.png" alt="Apoiadores" class="img-fluid">
                        <button type="button" class="btn btn-primary mt-2" data-bs-toggle="modal" data-bs-target="#modalApoio">Apoiadores</button>
                    </figure>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalAgenda" tabindex="-1" aria-labelledby="modalAgendaLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h2 class="modal-title" id="exampleModalLabel">Agenda</h2>
            </div>
            <div class="modal-body">
                <h3 class="text-center">10/10/10 10:10 - Evento 1</h3>
                <p class="mb-5">Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae.</p>
                <h3 class="text-center">10/10/10 11:10 - Evento 2</h3>
                <p class="mb-5">Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae.</p>
                <h3 class="text-center">10/10/10 12:10 - Evento 3</h3>
                <p class="mb-5">Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae.</p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalDica" tabindex="-1" aria-labelledby="modalDicaLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h2 class="modal-title" id="exampleModalLabel">Dicas de vida saudável</h2>
            </div>
            <div class="modal-body">
                <p>Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae legendos at vix ad putent delectus delicata usu. Vidit dissentiet eos.</p>

                <p>Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae legendos at vix ad putent delectus delicata usu. Vidit dissentiet eos.</p>

                <p>Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae legendos at vix ad putent delectus delicata usu. Vidit dissentiet eos.</p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalApoio" tabindex="-1" aria-labelledby="modalApoioLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h2 class="modal-title" id="exampleModalLabel">Apoiadores</h2>
            </div>
            <div class="modal-body">
                <div class="card mb-3 pl-3" style="max-width: 340px;">
                    <div class="row g-0">
                        <div class="col-md-4 m-auto">
                            <img src="/imagens/confeitaria.png" class="img-fluid rounded-start" alt="Logo da Empresa 1">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Doces Light & Diet</h5>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3 pl-3" style="max-width: 340px;">
                    <div class="row g-0">
                        <div class="col-md-4 m-auto">
                            <img src="/imagens/Vegetariano.jpg" class="img-fluid rounded-start" alt="Logo da Empresa 2">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Restaurante Vegetariano</h5>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3 pl-3" style="max-width: 340px;">
                    <div class="row g-0">
                        <div class="col-md-4 m-auto">
                            <img src="/imagens/Restaurante.jpg" class="img-fluid rounded-start" alt="Logo da Empresa 3">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Restaurante</h5>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3 pl-3" style="max-width: 340px;">
                    <div class="row g-0">
                        <div class="col-md-4 m-auto">
                            <img src="/imagens/lanches.jpg" class="img-fluid rounded-start" alt="Logo da Empresa 4">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Lanches Naturais</h5>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>